.leia-mais {
    padding: .4rem;
    margin: .8rem;
    display: block;
    font-size: 1.2rem;
    text-align: center;
    background-color: #E6E7E8;
}

.post-blog ~ .post-blog {
    padding-top: 1.5rem;
    margin-top: 1rem;
    background: linear-gradient(to right, transparent, black, transparent);
    background-size: 100% .05rem;
    background-repeat: no-repeat;
    background-position: top center;
}
